* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* style for high score button */
.high-scores {
    color: violet;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.hide-list {
    color: black;
    background-color: purple;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

/*style for timer*/
.time {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

/*style for quiz*/
.quiz-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.quiz-intro {
    padding: 30px;
    text-align: center;

}

.quiz-intro h1 {
    font-size: 48px;
}

.quiz-intro p {
    font-size: 22px;
}

.start-btn {
    color: black;
    background-color: purple;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
}

.quiz {
    margin: 30px;
    text-align: left;
    padding: 0 200px;
}

.question {
    font-size: 32px;

}

.choice-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.choice-btn {
    color: black;
    background-color: purple;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
}

/* will be added by JS to elements that need to remain hidden */
.hide {
    display: none;
}

.hide-right {
    display: none;
}

.hide-wrong {
    display: none;
}

/*style for score page after quiz is done*/
.complete {
    margin: auto;
}

.score {
    margin: auto;
}

.form-input {
    border: 1px solid black;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    margin-bottom: 15px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.label {
    font-size: 22px;
    margin: auto;
}

.score-btn {

    background-color: purple;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
}

.score-btn a {
    text-decoration: none;
    color: black;
}

.quiz-repeat {
    cursor: pointer;
    background-color: purple;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    width: 130px;
}

.quiz-repeat a {
    text-decoration: none;
    color: black;
}    

.score-list {
    font-size: 28px;
    margin-bottom: 5px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    .quiz-repeat {
        text-align: center;
    }    
    .quiz {
        padding: 0;
    }

    .score-btn {
        width: 100%;

    }

    .choice-btn {
        width: 100%;

    }

    .complete {
        width: 100%;
    }
    
    .score {
        width: 100%;
    }
    
    .quiz-repeat {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }
    
    .label {
        width: 100%;
    }
    
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){

}